/* Estilos para el pie de página */
footer {
    background-color: $dark-color;
    color: light;
    text-align: center;
    padding: 10px;
}

@media (max-width: 768px) {
    footer {
        background-color: #222;
        color: $light-color;
        text-align: center;
        padding: 10px;
        font-size: 1rem;
    }
}